body {
    padding:0;
    margin:0;
    font-family:sans-serif;
    background: url('moving2.gif') no-repeat;
    background-size: cover;
}

.header {
    height:70px;
    padding-bottom:10px;
    color:white;
    margin-bottom:100px;
    padding-top:20px;
}

h1 {
    display:inline;
    margin-left:100px;
    font-family:sans-serif;
    font-weight: 800;
    color:white;
} 

.button {
    float: right;
    margin-right: 100px;
    display:inline;
}

.header-button {
    
    height:55px;
    margin-right: -5px;
    width:120px;
    border:none;
    color:white;
    margin-top:10px;
    background: transparent;
    border-radius:10px;
    font-weight:800;
}
.container {
    width: 60%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    height:250px;
    border-radius: 20px;
    backdrop-filter:blur(5px);
    color:white;
}
.header-button:hover {
    background-color: rgb(255, 255, 255);
    cursor:pointer;
    color:black;
    transition: background-color 250ms;
}
h2 {
    font-weight:800;
    font-size:29px;
}
.play-button {
    width:150px;
    height:55px;
    border: 5px solid rgb(164, 11, 219);
    border-radius: 30px;
    background:blue;
    color:white;
    font-weight:800;
}
.play-button:hover {
    cursor:pointer;
    background-color:white;
    color:black;
    transition: background-color 250ms;
}
a {
    text-decoration: none;
}

.subject {
    width:400px;
    height:250px;
    border: 1;
    text-align: center;
    margin-left: 20px;
    display: inline;
    position: relative;
    text-align: left;
    color: white;
    border-radius: 20px;
    margin-bottom:20px;
}

.subject-image {
    width: 400px;
    height: 250px;
    border-radius:20px;
}

.content {
    width: 400px;
    height: 255px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight:700;
    background-color:rgba(223, 222, 222, 0);
    border-radius: 20px;
}

.space {
    margin-bottom: 20px;
}

.content p {
    margin-left:20px;
    margin-top:150px;
    font-size:25px;
    opacity: 0%;
}

.difficulty{
    opacity: 0;
    margin-left: 15px;
    background: transparent;
    color:white;
    width:100px;
    height:30px;
    border:none;
    border-radius:10px;
    font-weight:800;
}

.content:hover {
    background-color:rgba(223, 222, 222, 0.488);
    transition: background-color 250ms;
    
}
.content:hover p, .content:hover .difficulty{
    opacity: 100%;
}
.difficulty:hover {
    background-color:white;
    color:black;
    cursor:pointer;
    transition: background-color 250ms;
}
.container1 {
    margin-left:auto;
    margin-right:auto;
    width:60%;
    height: 600px;
}

@media screen and (max-width: 600px)
{
    h1{
        font-size: 36px;
        line-height: 50px;
    }
}
